div:nth-child(1) {
    width: 80px;
    height: 80px;
    border: 1px solid red;
    border-radius: 20px 20px;
}

div:nth-child(2) {
    background-color: brown;
    border-radius: 80px;
}

div:nth-child(3) {
    width: 80px;
    height: 40px;
    background-color: blue;
    border-radius: 20px;
}

div:nth-child(4) {
    width: 80px;
    height: 40px;
    background-color: aqua;
    border-radius: 0px 0px 40px 40px;
}

div:nth-child(5) {
    width: 80px;
    height: 40px;
    background-color: aqua;
    border-radius: 40px 40px 0px 0px;
}

div:nth-child(6) {
    width: 40px;
    height: 80px;
    background-color: aquamarine;
    border-radius: 40px 0px 0px 40px;
}

div:nth-child(7) {
    width: 40px;
    height: 80px;
    background-color: aquamarine;
    border-radius: 0px 40px 40px 0px;
}

#div1 {
    width: 200px;
    height: 200px;
    border: 1px solid #aaabbb;
}