* {
    /*清除所有元素标签的内外边距*/
    margin: 0;
    padding: 0;
}

body {
    background: url(/img/笑脸标签.jpeg) fixed center center no-repeat;
    margin: 13px;
    padding: 13px;
    height: fit-content;
    width: fit-content;
    /* border: 1px solid #f00; */

}

div {
    margin: 13px;
    padding: 7px;
    width: fit-content;
    /* border: 1px solid #f0f; */
}

p {
    color: black;
    /*  font-family: 'Consolas, "Lucida Console", Monaco, monospace;';
        font-size: 18px;
        font-style: italic;
        /* 简写方式：复合属性 */
    font: normal normal 16px "微软雅黑";
    text-decoration: none;
    text-indent: 2em;
    line-height: 20px;
    text-transform: capitalize;
    word-wrap: break-word;
}

p:first-letter {
    color: red;
    font-size: 20px;
    text-shadow: 3px 1px 1px yellowgreen;
}

p:first-line {
    color: green;
}

.title_test,
h2 {
    /* 多元素选择器 */
    color: blue;
    font-size: 17px;
    text-decoration: underline;
    text-indent: 0em;
}

.normal p {
    font-weight: normal;
}

.bold p {
    font-weight: bold;
}

.bolder p {
    font-weight: bolder;
}

.lighter p {
    font-weight: lighter;
}

.number p {
    font-weight: 900;
}

.box {
    line-height: 26px;
    list-style-type: disc;
    list-style-position: inside;
    width: auto;
    padding: 6px;
}

#font-type {
    text-align: center;
    color: red;
    font-size: 20px;
}

table {
    border-collapse: collapse;
    border-color: gray;
    text-align: center;
}

table tr:nth-child(2n) {
    background-color: #ffffff;
}

table tr:nth-child(2n+1) {
    background-color: #f6f4f0;
}

table tr:hover {
    background-color: orange;
}

table th {
    color: white;
    font-size: large;
    background-color: #555555;
}